<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <header>
        <nav>
            <a href="/" class="logo">
                <img src="{%static 'cwlogo.png'%}" alt="" class="avatar">
            </a>
            {%if user.is_authenticated%}
            <a href="{%url 'create_post'%}">Write</a>
        </nav>
        <a href="{%url 'profile'%}" class="profile_box">
            <h2 class="username">{{user.username}}</h2>
            <img src="{{user.profile.avatar.url}}" alt="" class="avatar">
        </a>
        <a href="{%url 'logout_url'%}">logout</a>
        {%else%}
        <a href="{%url 'register'%}">registration</a>
        <a href="{%url 'login'%}">login</a>
        {%endif%}
    </header>
    {%block content%}
    {%endblock%}
</body>
</html>