{%extends 'base.html'%}
{%block title%}Continuing Writing{%endblock%}
{%block content%}
    <main>
        <h1>Лучшие</h1>
        <section class="posts_best">
            {%for post in posts_best%}
            <div class="post">
                <a href="{%url 'post_info' post.id%}" class='post_link'>
                    <img src="{{post.image.url}}" alt="" class="post_img">
                    <h2>{{post.title|truncatewords:20}}</h2>
                </a>
                <h2>{{post.likes.count}}</h2>
            </div>
            {%endfor%}
        </section>
        <h2>Последние Работы и Обновления</h2>
        <section class="posts">
            {%for post in posts%}
            <a href="{%url 'post_info' post.id%}">
                <div class="post">
                    {%if post.image%}
                    <img src="{{post.image.url}}" alt="" class="post_img">
                    {%endif%}
                    <h2>{{post.title}}</h2>
                </div>
            </a>
            {%endfor%}
        </section>
    </main>
{%endblock%}