{%extends 'base.html'%}
{%block title%}{{post.title}}{%endblock%}
{%block content%}
    <main>
        <a href="{%url 'post' post.id%}">
            <div class="post">
                <img src="{{post.image.url}}" alt="" class="post_img">
                <h2 class="">{{post.title}}</h2>
                <h2>{{post.likes.count}}</h2>
            </div>
        </a>
        {%for continue in continues%}
        <a href="" class="">{{continue.title}}</a>
        {%endfor%}
        <form method="post">
            {%csrf_token%}
            {{form}}
            <button>написать</button>
        </form>
        <section class="posts">
            {%for comment in comments%}
            <h2>
                <a href="">{{comment.user}}</a>
                <h2 class="">{{comment.text}}</h2>
            </h2>
            {%endfor%}
        </section>
    </main>
{%endblock%}