{%extends 'base.html'%}
{%block title%}Continuing Writing{%endblock%}
{%block content%}
<main>
    <div class="">
        {%if post.image%}
        <img src="{{post_continue.image.url}}" alt="">
        {%endif%}
        <h2>{{post_continue.title}}</h2>
    </div>
    <form method="post">
        {%csrf_token%}
        {{form}}
        <button>написать</button>
    </form>
    <section class="posts">
        {%for comment in comments%}
        <h2>
            <a href="">{{comment.user}}</a>
            <h2 class="">{{comment.text}}</h2>
        </h2>
        {%endfor%}
    </section>
</main>
{%endblock%}